/* geral da página */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Estilo da calculadora */
.calculator {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

/* Título */
.calculator h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

/* inputs */
.input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: right;
    box-sizing: border-box;
}

/* lista de seleção (dropdown) */
.operator-select {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

/* botões */
.buttons {
    display: flex;
    justify-content: space-between;
}

.btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    width: 48%;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #45a049;
}

/*resultado */
.result {
    font-size: 20px;
    color: #333;
    margin-top: 20px;
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 5px;
}
